<%- include("./common/header.ejs") %>
  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
        </div>

      </div>
    </section><!-- End Breadcrumbs -->

    <section class="inner-page">
      <div class="container">
        <div class="row content">
          <div class="col-lg-12 col-sm-12">
            <div class="section-title">
              <h2>Terms & Service</h2>
              <p>Your Trusted Online Cryptocurrency Exchange Platform.</p>
            </div>
            <br />
            <p>
              These Terms and Conditions (hereinafter referred to as "Agreement") govern the use of the crypto exchange
              services
              (hereinafter referred to as the "Platform") provided by EasyExchange (hereinafter referred to as the
              "Company") in
              accordance with the laws of Pakistan. By accessing or using the Platform, you (hereinafter referred to as
              the "User")
              agree to be bound by this Agreement.
            </p>
            <br />
            <h3>1. Definitions</h3>
            <p>
              <strong>1.1. "Crypto Assets":</strong> Refer to digital assets, including cryptocurrencies, tokens, and
              other forms of
              virtual assets that can be exchanged or traded on the Platform.
              <br>
            </p>

            <h3>2. User Eligibility and Compliance</h3>
            <p>
              2.1. The User must be any age or the legal age of majority in their jurisdiction to use the
              Platform.
              <br>
              2.2. The User agrees to comply with all applicable laws and regulations of Pakistan while using the
              Platform.
            </p>

            <h3>3. Registration and Account Security</h3>
            <p>
              3.1. The User must provide accurate and complete information during the registration process. The User is
              responsible
              for maintaining the confidentiality of their account credentials and for all activities that occur under
              their
              account.
              <br>
              3.2. The User agrees not to share their account credentials with any third party and to immediately notify
              the Company
              of any unauthorized use or suspected breach of security.
              <br>
              3.3. The Company reserves the right to suspend or terminate the User's account if any suspicious or
              fraudulent
              activities are detected.
            </p>

            <h3>4. Platform Usage</h3>
            <p>
              4.1. The User acknowledges and agrees that the Company is a platform that facilitates the exchange of
              Crypto Assets
              and does not provide any financial, investment, or legal advice.
              <br>
              4.2. The User is solely responsible for conducting their own research and due diligence before engaging in
              any
              transactions on the Platform.
              <br>
              4.3. The User agrees not to use the Platform for any illegal, fraudulent, or unauthorized purposes,
              including but not
              limited to money laundering, terrorist financing, or any other criminal activity.
              <br>
              4.4. The User agrees not to engage in any disruptive or abusive behavior that may hinder the proper
              functioning of the
              Platform or interfere with other Users' experience.
            </p>

            <h3>5. Risk Disclosure</h3>
            <p>
              5.1. The User acknowledges that the value of Crypto Assets is highly volatile and can fluctuate
              significantly. The
              User understands the risks associated with trading or holding Crypto Assets and agrees to bear all such
              risks.
              <br>
              5.2. The User acknowledges that the Company does not guarantee the availability, accuracy, or reliability
              of any
              market data, pricing information, or other content on the Platform.
              <br>
              5.3. The User acknowledges that the Company is not liable for any losses, damages, or liabilities arising
              from the use
              of the Platform, including but not limited to financial losses, lost profits, or reputational damage.
            </p>

            <h3>6. Intellectual Property</h3>
            <p>
              6.1. All intellectual property rights, including but not limited to trademarks, logos, and software, used
              in
              connection with the Platform are the property of the Company or its licensors. The User agrees not to use
              or reproduce
              any intellectual property without prior written consent from the Company.
            </p>

            <h3>7. Limitation of Liability</h3>
            <p>
              7.1. To the maximum extent permitted by law, the Company shall not be liable for any direct, indirect,
              incidental,
              consequential, or exemplary damages arising out of or in connection with the use of the Platform.
            </p>

            <h3>8. Governing Law and Jurisdiction</h3>
            <p>
              8.1. This Agreement shall be governed by and construed in accordance with the laws of Pakistan.
              <br>
              8.2. Any disputes arising out of or in connection with this Agreement shall be subject to the exclusive
              jurisdiction
              of the courts of Pakistan.
            </p>

            <h3>9. Amendments and Termination</h3>
            <p>
              9.1. The Company reserves the right to amend or modify this Agreement at any time, without prior notice to
              the User.
              It is the User's responsibility to review this Agreement periodically.
              <br>
              9.2. The Company may suspend or terminate the User's access to the Platform at any time, with or without
              cause.
            </p>

            <h3>10. Severability</h3>
            <p>
              10.1. If any provision of this Agreement is found to be unenforceable or invalid, the remaining provisions
              shall
              continue to be valid and enforceable to the fullest extent permitted by law.
            </p>

            <p>By using the Platform, the User acknowledges that they have read, understood, and agreed to be bound by
              these Terms
              and Conditions.</p>
          </div>
        </div>
      </div>
    </section>
  </main><!-- End #main -->
  <%- include("./common/footer.ejs") %>